<div class="container my-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white text-center">
      <h1><%= action_name == 'followers' ? 'フォロワー' : 'フォロー中のユーザー' %></h1>
    </div>
    <div class="card-body">
      <!-- 検索フォーム -->
      <%= render 'search_form' %>

      <% if params[:q].present? %>
        <h3 class="mt-4">検索結果</h3>
        <ul class="list-group">
          <% if @search_results.present? %>
            <% @search_results.each do |user| %>
              <%= render 'follow_button', user: user %>
            <% end %>
          <% else %>
            <li class="list-group-item">該当するユーザーがいません。</li>
          <% end %>
        </ul>
      <% end %>

      <h3 class="mt-4"><%= action_name == 'followers' ? 'フォロワー一覧' : 'フォロー中のユーザー一覧' %></h3>
      <ul class="list-group">
        <% (@followers || @following).each do |user| %>
          <%= render 'follow_button', user: user %>
        <% end %>
      </ul>
      <div class="d-flex justify-content-center mt-3">
        <%= link_to '戻る', user_path(@user), class: 'btn submit-button' %>
      </div>
    </div>
  </div>
</div>
