<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #545454;">
    <div class="container">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'dd4d85b0e6890294139f848015e897bb.jpg', alt: 'ハビトラ', width: 300, height: 100, class: 'd-inline-block align-text-top' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to '習慣一覧', habits_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '習慣作成', new_habit_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'カレンダー', calendar_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ジョージ', questions_new_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <a href="https://lin.ee/uW5InnH"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
            </li>
            <!-- プロフィール画像とプルダウンメニュー -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <% if current_user.profile_image.present? %>
                  <%= image_tag current_user.profile_image.url, class: "rounded-circle", width: 50, height: 50, alt: "プロフィール画像" %>
                <% else %>
                  <%= image_tag "default_avatar.png", class: "rounded-circle", width: 50, height: 50, alt: "デフォルト画像" %>
                <% end %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to 'プロフィール', user_path(current_user), class: 'dropdown-item' %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" }, class: 'dropdown-item' %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
