<div class="habit border p-3 mb-3">
  <div class="d-flex align-items-center mb-2">
    <% progress = habit.progress_for_today(habit.user) %>

    <% if current_user %>
      <%= check_box_tag "habit_#{habit.id}_progress", progress.id, progress.checked, 
            data: { habit_id: habit.id, controller: "habit-checkbox", action: "change->habit-checkbox#toggleCheckbox" }, 
            class: 'habit-checkbox form-check-input me-2' %>
    <% else %>
      <%= check_box_tag "habit_#{habit.id}_progress", progress.id, progress.checked, 
            data: { habit_id: habit.id }, 
            class: 'habit-checkbox form-check-input me-2', 
            disabled: true %>
    <% end %>

    <!-- 習慣名のリンク -->
    <h3 class="mb-0"><%= link_to habit.habit_name, habit %></h3>
  </div>
  <dl class="row">
    <% unless current_user %>
      <dt class="col-sm-4 mb-2">作成者</dt>
      <dd class="col-sm-8 mb-2"><%= habit.user.username %></dd>
    <% end %>

    <dt class="col-sm-4 mb-2">説明</dt>
    <dd class="col-sm-8 mb-2"><%= habit.description %></dd>

    <% if habit.notification_time.present? && current_user %>
      <dt class="col-sm-4 mb-2">通知</dt>
      <dd class="col-sm-8 mb-2">
        <%= habit.notification_days.present? ? habit.notification_days.map(&:capitalize).join(', ') : 'なし' %>
        <%= habit.notification_time.strftime('%H:%M') %>
      </dd>
    <% end %>

    <dt class="col-sm-4 mb-2">開始日〜終了日</dt>
    <dd class="col-sm-8 mb-2"><%= habit.start_date %> 〜 <%= habit.end_date %></dd>

    <dt class="col-sm-4 mb-2">いいね</dt>
    <dd class="col-sm-8 mb-2">
      <div id="habit_<%= habit.id %>_like">
        <%= render "habits/like", habit: habit %>
      </div>
    </dd>

    <dt class="col-sm-4 mb-2">タグ</dt>
    <dd class="col-sm-8 mb-2">
      <% habit.tags.each do |tag| %>
        <%= link_to tag.name, habits_path(tag: tag.name), class: "badge custom-tag rounded-pill" %>
      <% end %>
    </dd>
  </dl>
</div>
